streamlit==1.37.0
pandas==1.5.3
pyzotero==1.5.5
PyQt6==6.6.1
IPython==6.0
NumPy==1.24.4
Altair==4.2.0
streamlit-extras==0.4.3
plotly==5.13.1
nltk==3.8.1
wordcloud==1.9.3
gsheetsdb==0.1.13.1
# fpdf2==2.6.1
gspread==5.12.0
Pillow==9.5.0
st-gsheets-connection==0.1.0
shillelagh==1.2.19
streamlit_dynamic_filters
pdfkit==1.0.0
fuzzywuzzy==0.18.0
pyparsing==3.1.2
beautifulsoup4==4.12.3
atproto==0.0.49
grapheme==0.6.0
gspread
pycountry==24.6.1
spacy