pandas==1.2.0
streamlit==1.14.0
pyzotero==1.5.5
PyQt6==6.4.0
IPython==6.0
NumPy==1.23.0
Altair==4.2.0
streamlit-extras==0.2.4
plotly==4.14.1
nltk==3.8.1
wordcloud==1.8.2.2
gsheetsdb==0.1.13.1
fpdf2==2.6.1
gspread==5.7.2